html, body {
    height: 100%;
    margin: 0;
}

.light {
    --home-gradient: linear-gradient(135deg, #D8BFD8, #27408B);
    --home-background: #ffffff;
    --home-text: #333;
    --home-button: purple;
}

.dark {
    --home-gradient: linear-gradient(135deg, #614461, #0a173d);
    --home-background: #3a302a;
    --home-text: #ffffffe8;
    --home-button: rgb(129, 22, 143);
}

.home-container {
    min-height: 100vh;
    margin: 0;
    background: var(--home-gradient); /* Light purple to darker royal blue */
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.org-name,
.software-name {
    font-size: 2rem;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.navbar li a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}

.main-content-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: var(--home-text);
}

.operations-info-container {
    display: flex;
    flex-direction: column; /* Stack content vertically */
    background-color: var(--home-background);
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    max-width: 800px; /* Adjust width as needed */
    width: 100%;
}

.operations-section {
    margin-bottom: 2rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-top: 1rem;
}

.buttons button {
    background-color: var(--home-button);
    color: #fff;
    border: none;
    padding: 0.75rem 1.25rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-start;
}

.buttons button:hover {
    background-color: darkviolet;
}

.roster-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.roster-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.roster-list li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}